@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e4a70;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

@media (max-width: 768px) {
  /* Desktop view: Hide the logo */
    .header img {
      display: none;
    }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Ensure menu icon is always visible */
  .header .menu-icon {
    display: block;
    z-index: 60;
    /* Ensure it appears above the sidebar */
  }

  /* Sidebar behavior */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60%;
    /* Adjust as needed */
    background: #1e293b;
    z-index: 50;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}